Repository cloudopsworks/environment-template-bluegreen-awseb, changes with the labels that .github/labeler.yml gives for each.
All labels: release, size-XS, size-S, size-XL

Update on comment for blue-green deploy
  README.md
Labels: release

Fix local variable
  modules/aws-elasticbeanstalk-versions/app-version.tf
Labels: size-XL

Blue green templating initital
  .gitignore
  Makefile
  template-deploy-blue.tf_template
  template-deploy-both.tf_template
  template-deploy-green.tf_template
  template-module-blue.tf_template
  template-module-green.tf_template
  template-module-version.tf_template
Labels: release

Makefile typo fix
  Makefile
Labels: release

Provider fix for modules with count
  Makefile
  modules/aws-elasticbeanstalk-deploy/provider.tf
  template-module.tf_template
Labels: release, size-XL

Changes effecctive in front for Blue/green deploy
  .github/workflows/blue-green-labeling-events.yml
  .github/workflows/deploy.yml
  .github/workflows/plan.yml
  .github/workflows/slash-on-approve.yml
Labels: none

Fix namespace naming
  template-module-blue.tf_template
  template-module-green.tf_template
Labels: release

Fixes on plan & ignores
  .github/workflows/plan.yml
  .gitignore
Labels: release

Fix bluegreen flow and load balancer
  .github/workflows/plan.yml
  .github/workflows/slash-commands.yml
  .github/workflows/slash-on-approve.yml
  Makefile
  template-module-blue.tf_template
  template-module-green.tf_template
  template-module-version.tf_template
Labels: release

Updated blue-green flow
  .github/workflows/blue-green-labeling-events.yml
  .github/workflows/slash-commands.yml
  .github/workflows/slash-on-continue.yml
  Makefile
  modules/aws-elasticbeanstalk-deploy/main.tf
  template-deploy-both.tf_template
Labels: release, size-XL

updates on workflows
  .github/workflows/deploy.yml
  .github/workflows/plan.yml
  .github/workflows/promote.yml
  .github/workflows/slash-on-continue.yml
  Makefile
  modules/aws-elasticbeanstalk-deploy/beanstalk-variables.tf
  modules/aws-elasticbeanstalk-deploy/route53.tf
  modules/aws-elasticbeanstalk-versions/app-version.tf
  modules/aws-elasticbeanstalk-versions/outputs.tf
  modules/aws-elasticbeanstalk-versions/provider.tf
  modules/aws-elasticbeanstalk-versions/s3-upload.tf
  template-deploy-blue.tf_template
  template-deploy-both.tf_template
  template-deploy-green.tf_template
  template-module-blue.tf_template
  template-module-green.tf_template
  template-module-version.tf_template
  template-module.tf_template
  template-tier.tfvars_template
  variables-workspaced.tf
Labels: release, size-XL

updates on workflows
  main.tf
  s3.tf
  template-tier.tfvars_template
Labels: release, size-XL

updates on workflows
  modules/aws-elasticbeanstalk-deploy/route53.tf
Labels: size-XL

updates on workflows
  .gitignore
  modules/aws-elasticbeanstalk-deploy/route53.tf
  variables-workspaced.tf
Labels: release, size-XL

updates on workflows
  .github/workflows/plan.yml
  .github/workflows/slash-on-continue.yml
  Makefile
Labels: release

updates on workflows
  .github/workflows/slash-commands.yml
  .github/workflows/slash-on-approve.yml
  .github/workflows/slash-on-continue.yml
  Makefile
  modules/aws-elasticbeanstalk-deploy/route53.tf
Labels: release, size-XL

new items
  .github/workflows/slash-on-rollbackcancel.yml
  Makefile
  modules/aws-elasticbeanstalk-deploy/outputs.tf
  modules/aws-elasticbeanstalk-deploy/route53.tf
  template-module.tf_template
Labels: release, size-XL

new items
  modules/aws-elasticbeanstalk-dns/provider.tf
  modules/aws-elasticbeanstalk-dns/route53.tf
  modules/aws-elasticbeanstalk-dns/variables-domain.tf
  modules/aws-elasticbeanstalk-dns/variables-provider.tf
  modules/aws-elasticbeanstalk-dns/variables.tf
Labels: size-XL

new items
  template-module.tf_template
Labels: release

new items
  template-module.tf_template
Labels: release

new items
  modules/aws-elasticbeanstalk-dns/route53.tf
  template-module.tf_template
Labels: release, size-XL

fix s3 naming
  modules/aws-elasticbeanstalk-versions/app-version.tf
  template-module.tf_template
Labels: release, size-XL

fix s3 naming
  .github/workflows/slash-on-approve.yml
  modules/aws-elasticbeanstalk-versions/app-version.tf
  template-module.tf_template
Labels: release, size-XL

fix s3 naming
  .github/workflows/slash-on-approve.yml
Labels: none

fix text
  .github/workflows/slash-on-approve.yml
Labels: none

fix dns record config depends_on issues recreation
  .github/workflows/plan.yml
  modules/aws-elasticbeanstalk-dns/route53.tf
  template-module.tf_template
Labels: release, size-XL

fix s3 problem
  s3.tf
Labels: release, size-XL

fix s3 problem
  .github/workflows/automerge.yml
  .github/workflows/deploy.yml
  .github/workflows/plan.yml
  .github/workflows/slash-on-approve.yml
  .github/workflows/slash-on-rollbackcancel.yml
  Makefile
  modules/aws-elasticbeanstalk-versions/s3-upload.tf
  s3.tf
  template-tier.tfvars_template
Labels: release, size-XL

fix s3 problem
  modules/aws-elasticbeanstalk-deploy/beanstalk-variables.tf
  template-module.tf_template
Labels: release, size-XL

fix wording
  README.md
  iam.tf
Labels: release, size-XL

workflow fixes for blue/green
  .github/workflows/automerge.yml
  .github/workflows/deploy.yml
  .github/workflows/plan.yml
  .github/workflows/slash-on-approve.yml
  .github/workflows/slash-on-rollbackcancel.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/plan.yml
  .github/workflows/slash-on-approve.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/deploy.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/plan.yml
  .github/workflows/promote.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/plan.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/deploy.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/promote.yml
  .github/workflows/slash-on-approve.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  .github/workflows/slash-on-approve.yml
Labels: none

workflow fixes for blue/green
  .github/workflows/slash-on-rollbackcancel.yml
Labels: none

minor upgrades on plan finale
  .github/workflows/plan.yml
  s3.tf
Labels: release, size-XL

.github/labeler.yml:

##
# (c) 2021 - CloudopsWorks OÃœ - https://docs.cloudops.works/
#
release:
- ./*

size-XS:
- any: [ '*-version.tfvars' ]

size-S:
- any: [ '*-module.tf' ]

size-XL:
- any: [ '**/*.tf', '!*-version.tfvars', '!*-module.tf' ]
